<%= render  '/layouts/header' %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8"><h1>Section roster</h1></div>
		<div class="col-md-4">
		</div>
	</div>
<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>Student Name</td>
				<td>Birthdate</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @rosters.each do |roster| %>
				<tr>
					<td><%= "#{roster.student.first_name} #{roster.student.last_name}" %></td>
					<td><%= roster.student.birthdate %></td>

					<td>
						<%= link_to 'View', admin_roster_path(roster) %> |
						<%= link_to 'Edit', edit_admin_section_path(roster) %> |
						<%= link_to 'Destroy', admin_section_path(roster), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>