<%= page_header "Roster for #{section_name}" %>
<%= page_desc "showing students for #{section_name}" %>

<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>Student Name</td>
				<td>Birthdate</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @rosters.each do |roster| %>
				<tr>
					<td><%= "#{roster.student.try(:first_name)} #{roster.student.try(:last_name)}" %></td>
					<td><%= roster.student.try(:birthdate) %></td>

					<td>
				<%= button_to 'Check-in', {controller: "rosters", action: "checkin", student_id: roster.student.try(:id), section_id: roster.section.try(:id) },
                                method: :post, data: { confirm: "Are you sure?" }  %>
						
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>

