<%= page_header @preschool.name %>
<%= page_desc "showing information for #{@preschool.name}" %>
	<p class="lead">
		<%= @preschool.description %>
	</p>
	<p>
		<%= link_to 'Edit', edit_admin_preschool_path(@preschool) %> |
		<%= link_to 'Destroy', admin_preschool_path(@preschool), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
</div>