<%= page_header @bus.name %>
<%= page_desc "showing information for: #{@bus.name}" %>


	<p class="lead">
		<%= @bus.description %>
	</p>
	<p>
		<%= link_to 'Edit', edit_admin_bus_path(@bus) %> |
		<%= link_to 'Destroy', admin_bus_path(@bus), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
