<div class="panel">
<div class="panel-heading">
    <h2 class="">All Children</h2>
  </div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
	<thead>
	<tr>
		<td>Name</td>
		<td>Birthdate</td>
		<td>Preschool</td>
		<td>Check-ins</td>
		<td></td>
	</tr>
	</thead>
	<tbody>
	<% @students.each do |student| %>
		<tr>
			<td><%= "#{student.first_name} #{student.last_name}" %></td>
			<td><%= student.birthdate %></td>
			<td><%= student.preschool.try(:name) %></td>
			<td><%= checkin_count(student.id) %></td>
			<td><%= link_to 'Edit', edit_student_path(student) %> | <%= link_to 'View', student_path(student) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
	</div>
</div>

