<%= page_header "Choose Section" %>
<%= page_desc "Choose section for student below" %>
<%= render  '/layouts/header' %>
<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>Name</td>
				<td>Class Size</td>
				<td>Start Time</td>
				<td>Preschool</td>
				<td>Class Count</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @sections.each do |section| %>
				<tr>
					<td><%= section.name %></td>
					<td><%= section.class_size %></td>
					<td><%= section.section_time %></td>
					<td><%= section.preschool.name %></td>
					<td><%= section.rosters.count %></td>
					<td>
						<%= button_to 'Enroll', { action: "enroll", student_id: @student.id, section_id: section.id },
                                method: :post, data: { confirm: "Are you sure?" }  %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= @student.id %>
</div>