<%= render  '/layouts/header' %>
<div class="container-fluid">
<h1><%= "#{@student.first_name} #{@student.last_name}" %></h1>
	<p class="lead">
		
	</p>
	<p>
		<%= link_to 'Enroll', admin_student_section_student_path(:student_id => @student.id)  %> |
		<%= link_to 'Edit', edit_admin_student_path(@student) %> |
		<%= link_to 'Destroy', admin_student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
</div>