<%= page_header "#{@student.first_name} #{@student.last_name}" %>
<%= page_desc "showing profile for #{@student.first_name} #{@student.last_name}" %>
<%= render  '/layouts/header' %>
	
	<p>
		<%= link_to 'Enroll', admin_student_section_student_path(:student_id => @student.id)  %> |
		<%= link_to 'Edit', edit_admin_student_path(@student) %> |
		<%= link_to 'Destroy', admin_student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %> | 
		<%= link_to 'New Evaluation', new_admin_evaluation_path(:student_id => @student.id, :user_id => @student.user_id) %>
	</p>
	<div class="row">
		<h2>Evaluations</h2>
		<ul class="evaluations" style="list-style:none;">
			<% @evaluations.each do |eval| %>
			<li><%= link_to "Evaluation For #{eval.created_at.to_formatted_s(:long_ordinal)}", admin_evaluation_path(eval) %></li>
			<% end %>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-5">
				<h2>Enrolled in</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Class Size</td>
							<td>Start Time</td>
							<td>Preschool</td>
							<td>Class Count</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% @rosters.each do |roster| %>
							<tr>
								<td><%= roster.section.name %></td>
								<td><%= roster.section.class_size %></td>
								<td><%= roster.section.section_time %></td>
								<td><%= roster.section.preschool.name %></td>
								<td><%= roster.section.rosters.count %></td>
								<td>
									
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>