<div class="panel">
	<div class="panel-body">
		<%= form_for :paymentProfile do |f| %>
	<%= fields_for :billinginfo, @billinginfo do |b| %>
		<div class="form-group">
			<%= b.label :first_name, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= b.text_field :first_name, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="form-group">
			<%= b.label :last_name, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= b.text_field :last_name, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="form-group">
			<%= b.label :address, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= b.text_field :address, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="form-group">
			<%= b.label :city, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= b.text_field :city, {:class => 'form-control'} %>
			</div>
		</div>
	  	<div class="form-group">
		    <%= b.label :state, class: "col-sm-2 controler-label" %>
		    <div class="col-sm-10">
		    	<%= b.select(:state, options_for_select(us_states),{}, {:class => 'form-control'} )%>
		    </div>
  		</div>
		<div class="form-group">
			<%= b.label :zip, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= b.text_field :zip, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="form-group">
			<%= b.label :phone_number, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= b.text_field :phone_number, {:class => 'form-control'} %>
			</div>
		</div>
	<% end %>
	<%= fields_for :creditcard, @creditcard do |cc| %>
		<div class="form-group">
			<%= cc.label :number, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= cc.text_field :number, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="form-group">
			<%= cc.label :month, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
		 		<%= cc.select(:month, 1..12, {}, {:class => 'form-control'}) %>
		 	</div>
		</div>
		<div class="form-group">
			<%= cc.label :year, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= cc.select(:year, Array.new(15){|i| Date.current.year+i} , {:prompt => 'Select year'}, {:class => 'form-control'} )%>
			</div>
		</div>
		<div class="form-group">
			<%= cc.label :verification_value, class: "col-sm-2 controler-label" %>
			<div class="col-sm-10">
				<%= cc.text_field :verification_value, {:class => 'form-control'} %>
			</div>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.submit 'Update' %>
	</div>
<% end %>

	</div>
</div>
