<%= page_header "Your Messages" %>
<%= page_desc "view all your messages below" %>
<div class="row">

    <ul class="nav nav-pills">
      <%= mailbox_section 'inbox', @box %>
      <%= mailbox_section 'sent', @box %>
      <%= mailbox_section 'trash', @box %>
    </ul>

 

    <ul class="list-group">
      <%= render partial: 'admin/conversations/conversation', collection: @conversations %>
    </ul>
 
    <%= will_paginate %>
<%= link_to 'Send new message', new_admin_message_path, class: 'btn btn-lg btn-primary' %>
</div>