<%= form_for [:admin , @evaluation] , :html => { :multipart => true } do |f| %>
	<div class="form-group">
		<%= f.label :focus_letter %>
		<%= f.text_field :focus_letter, {:class => 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.label :behavior %>
		<%= f.select :behavior, options_for_select([['I need a little work'],['Good'],['Excellent']]), {},{:class => 'form-control'} %>
	</div>

	<div class="form-group">
		<%= f.label :comment %>
		<%= f.text_field :comment, {:class => 'form-control'} %>
	</div>

<%#=	<div class="form-group"> %>
<%#=		<%= f.label :picture %>
<%#=		<%= f.file_field :picture, {:class => 'form-control'} %>
<%#=	</div>  %>




		<%= f.hidden_field :user_id, :value => params[:user_id] %>
		<%= f.hidden_field :student_id, :value => params[:student_id] %>
	<div class="form-group">
		<%= f.submit  :class => 'btn btn-default' %>
	</div>				
<% end %>