<%= page_header "#{@section.name}" %>
<%= page_desc "showing information for #{@section.name}" %>
	<p class="lead">
		<%= @section.description %>
	</p>
	<p>
		<%= link_to 'Edit', edit_admin_section_path(@section) %> |
		<%= link_to 'Destroy', admin_section_path(@section), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>