<div class="panel">
	<div class="panel-heading">
		<h2>Shopping Cart</h2>
	</div>
	<div class="panel-body">
		<table class="table">
	<thead>
		<tr>
			<td>Item Name</td>
			<td>Description</td>
			<td>Quantity</td>
			<td>Price</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @total = Array.new %>
	
	<% @cart_items.each do |item| %>
		<tr>
			<td><%= item.product.try(:name) %></td>
			<td><%= item.product.try(:description) %></td>
			<td><%= item.quantity %></td>
				<% 
			case item.quantity 
			when '1'
				@cost = '12'
			when '2'
				@cost = '12'
			when '3'
				@cost = '12'
			when '4'
				@cost = '10'
			else
				@cost = '10'
			end

			@item_total = item.quantity.to_i * @cost.to_i
			@total.push @item_total

			%>
			<td>$<%= @cost %></td>
			<td><%= button_to "delete", item, :method=>:delete, :class=>:destroy %></td>
		</tr>
	<% end %>
	<tr>
		<td colspan="3">Total:</td>
		<td colspan="2">$<%= @total.sum %></td>
	</tr>
	</tbody>
</table>
<%= link_to 'Checkout', checkout_path ,
            { :class=>"btn btn-default" }%>
	</div>
</div>


