
  <%= form_for @payment do |f| %>
  	<div class="form-group">
		<%= f.label :amount %>
		<%= f.text_field :amount, {:class => 'form-control'} %>
	</div>
	<%= fields_for :creditcard, @creditcard do |cc| %>
		<div class="form-group">
			<%= cc.label :first_name %>
			<%= cc.text_field :first_name, {:class => 'form-control'} %>
		</div>
		<div class="form-group">
			<%= cc.label :last_name %>
			<%= cc.text_field :last_name, {:class => 'form-control'} %>
		</div>
		<div class="form-group">
			<%= cc.label :number %>
			<%= cc.text_field :number, {:class => 'form-control'} %>
		</div>
		<div class="form-group">
			<%= cc.label :month %>
		 	<%= cc.select(:month, 1..12, {}, {:class => 'form-control'}) %>
		</div>
		<div class="form-group">
			<%= cc.label :year %>
			<%= cc.select(:year, Array.new(15){|i| Date.current.year+i} , {:prompt => 'Select year'}, {:class => 'form-control'} )%>
		</div>
		<div class="form-group">
			<%= cc.label :verification_value %>
			<%= cc.text_field :verification_value, {:class => 'form-control'} %>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.submit 'Pay' %>
	</div>
<% end %>
