<%= page_header "All transactions" %>
<%= page_desc "Listing all transactions below" %>
<%= render  '/layouts/header' %>

<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Amount</td>
				<td>Description</td>
				<td>Date</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @transactions.each do |transaction| %>
				<tr>
					<td><%= transaction.user.try(:first_name) %></td>
					<td><%= transaction.user.try(:last_name) %></td>
					<td><%= transaction.amount %></td>
					<td><%= transaction.description %></td>
					<td><%= transaction.created_at %></td>
					<td>
						<%= link_to 'View', admin_transaction_path(transaction) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>