<%= render  '/layouts/header' %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8"><h1>Faculty Members</h1></div>
		<div class="col-md-4">
			<h2><%= link_to '+ Add Faculty Member', new_admin_bus_path, {:class => "btn btn-default pull-right"} %></h2></div>
	</div>
<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>Name</td>
				<td>Description</td>
				<td>Role</td>
				<td>Date Created</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @employees.each do |employee| %>
				<tr>
					<td><%= employee.email %></td>
					<td></td>
					<td><%= employee.role.name %></td>
					<td><%=employee.created_at %></td>
					<td>
						<%= link_to 'View', admin_bus_path(employee) %> |
						<%= link_to 'Edit', edit_admin_bus_path(employee) %> |
						<%= link_to 'Destroy', admin_bus_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>