<%= page_header "Faculty Members" %>
<%= page_desc "listing all faculty members" %>

			<h2><%= link_to '+ Add User', admin_registrations_new_path, {:class => "btn btn-default"} %></h2>
<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>Name</td>
				<td>Description</td>
				<td>Role</td>
				<td>Date Created</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @employees.each do |employee| %>
				<tr>
					<td><%= employee.email %></td>
					<td></td>
					<td><%= employee.role.name %></td>
					<td><%=employee.created_at %></td>
					<td>
						<%= link_to 'View', admin_bus_path(employee) %> |
						<%= link_to 'Edit', edit_admin_bus_path(employee) %> |
						<%= link_to 'Destroy', admin_bus_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>