<%= render  '/layouts/header' %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8"><h1>Members</h1></div>
		<div class="col-md-4">
			<h2><%= link_to '+ Add User', admin_registrations_new_path, {:class => "btn btn-default pull-right"} %></h2></div>
	</div>
<div class="table-responsive">
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<td>Name</td>
				<td>Description</td>
				<td>Role</td>
				<td>Date Created</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.email %></td>
					<td></td>
					<td><%= user.role.name %></td>
					<td><%= user.created_at %></td>
					<td>
						<%= link_to 'View', admin_user_path(user) %> |
						<%= link_to 'Edit', edit_admin_user_path(user) %> |
						<%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</div>