<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="page-container">
      
      <div class="sidebar">
        <div class="sidebar-inner">
          <header class="logo-cont">
            <div class="logo">BEEBUS</div>
            
            <div class="settings">
              <i class="fa fa-cog"></i>
            </div>
          </header>

          <ul class="main-menu">
            <li>
              <%= link_to(admin_path) do %>
                <i class="ico fa fa-tachometer"></i>
                <span class="title">Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to(admin_users_path) do %>
             
                <i class="ico fa fa-users"></i>
                <span class="title">Members</span>
    
              <% end %>
            </li>
            <li>
              <%= link_to(faculty_admin_users_path) do %>
                <i class="ico fa fa-users"></i>
                <span class="title">Faculty</span>
              <% end %>
            </li>
            <li>
              <%= link_to(admin_students_path) do %>
                <i class="ico fa fa-child"></i>
                <span class="title">Students</span>
              <% end %>
            </li>
            <li>
              <%= link_to(admin_buses_path) do %>
                <i class="ico fa fa-bus"></i>
                <span class="title">Buses</span>
              <% end %>
            </li>
            <li>
              <%= link_to(admin_sections_path) do %>
                <i class="ico fa fa-archive"></i>
                <span class="title">Sections</span>
              <% end %>
            </li>
            <li>
              <%= link_to(admin_preschools_path) do %>
                <i class="ico fa fa-archive"></i>
                <span class="title">Preschools</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        
        <nav class="navbar" role="navigation">
          <ul class="user-info-menu list-inline pull-left">
            <li class="dropdown">
              <a href="#" class="toggle-sidebar">
                <i class="fa fa-bars"></i>
              </a>
            </li>
            <li>
              <%= link_to(admin_conversations_path) do %>
                <i class="fa fa-envelope-o"></i>
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="alerts">
                <i class="fa fa-bell-o"></i>
              </a>
            </li>
            <li class="dropdown"></li>
          </ul>

          <ul class="user-info-menu list-inline pull-right">
            <li>
              <a href="#">
                <i class="fa fa-search"></i>
              </a>
            </li>
            <li class="user-profile">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
              <img src="http://themes.laborator.co/xenon/assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28"> 
              <span>Nick Delaney<i class="fa fa-angle-down"></i> </span> </a>
              <ul class="dropdown-menu user-profile-menu list-unstyled">
                <li>
                  <a href="#">Edit Profile</a>
                </li>
              </ul>
            </li>
            <li></li>
          </ul>
        </nav>

<%= yield %>  

<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-dd-mm'
    });
    $('.datatable').DataTable();

        $(".toggle-sidebar").click(function(e) {
          e.preventDefault();
          $(".sidebar").toggleClass("collapsed");
    });
});


  </script>
</div>
</div>

</body>
</html>
