<!DOCTYPE html>
<html>
  <head>
    <title></title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <%= stylesheet_link_tag "members/member" %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">BEEBUS</a>
           <ul class="nav navbar-nav navbar-right">
               <% if user_signed_in? %>
                <li dropdown><a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user" style="margin-right:5px;"></i><%= current_user.first_name %> <span class="caret"></span></a> 

               <ul class="dropdown-menu" role="menu">
                    <li><%= link_to 'Edit account information', users_edit_path %></li>
                    <% if current_user.payment_profile_id.blank? %>
                    <li><%= link_to 'Add Billing Profile', newProfile_path %></li>
                    <% else %>
                    <li><%= link_to 'Update Billing Profile', newProfile_path %></li>
                    <% end %>

                    <li><%= link_to 'Transaction History', transactions_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'View all students', students_path %></li>
                    <li><%= link_to 'Add student', new_student_path %></li>
                    <li class="divider"></li>
                     <li><%= link_to 'Purchase Credits', credits_add_path %></li>
                     <li><%= link_to 'Check-in History', checkins_path %></li>
                     <li class="divider"></li>
                     <li><%= link_to "Log out", destroy_user_session_path, :method => :delete  %></li>
              </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> Cart(<%= @item_count %>) <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <% @cart_items.each do |item| %>
                    <li><a href="#"><%= item.quantity %> x <%= item.product.try(:name) %>(s)</a></li>
                    <li class="divider"></li>
                    <% end %>
                    <% if @item_count == '0' %>
                    <li><a href="#">Cart is empty!</a></li>
                    <% else %>
                   <li><%= link_to 'Modify Cart', shoppingcart_path %></li>
                   <li><%= link_to 'Checkout', shoppingcart_path %></li>
                   <% end %>
              </ul>
              <% end %>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
        <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
     <%= yield %>  
     </div>
  </body>